        body {
            background-color: #436C94;
            font-family: Arial;

        }

        #contenedor {
            width: 600px;
            margin: 0 auto;
        }

        .padre {
            background-color: #fafafa;
            margin: 1rem;
            padding: 1rem;
            border: 2px solid #ccc;
            /* IMPORTANTE */
            text-align: center;
        }

        .cabezera {
            font-family: 'Encode Sans Expanded', sans-serif;
            
        }

        form {
            border-radius: 3px;
            background-color: cornflowerblue;
            color: #fff;
            padding: 20px;
            width: 500px;
            font-size: 0.9em;
        }

        label {
            margin-left: 10px;
        }

        input {
            outline: none;
            border: 0;
        }

        .field {
            border: solid 1px #ccc;
            padding: 10px;
            width: 280px;
            margin: 10px;
        }

        .field:focus {
            border-color: #436C94;
        }

        .box {
            width: 200px;
            height: 250px;
            margin-top: 100px;
        }

        .dashed {
            border-radius: 3px;
            background-color: cornflowerblue;
            color: #fff;
            padding: 20px;
            width: 500px;
            font-size: 0.9em;
            float: left;
        }

        #errorNombre {
            margin-left: 10px;
            color: black;
        }

        .btn {
            margin-left: 10px;
            width: 100px;
            border-radius: 3px;
            display: inline-block;
            padding: 20px 15px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }

        .btn-green {
            color: white;
            background-color: #3CC93F;
        }

        .btn-green:hover {
            background-color: #37B839;
        }

        .btn-green:active {
            background-color: #29962A;
        }
