<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<!-- Two way data-binding "[(ngModel)]"" Permite modificar una propiedad en tiempo real, de nuestra componente en este caso mi_marca -->
<!-- Evento blur -->
<!-- <p><input type="text" [(ngModel)]="mi_marca" (blur)="onBlur()"/></p> -->
<p>
  <input
    type="text"
    [(ngModel)]="mi_marca"
    (keyup.enter)="mostrarPalabra()"
    placeholder="keyup enter"
  />
</p>
<button (click)="getMarca()">Mostrar marca</button>
<button (click)="addMarca()">Añadir marca</button>
<p>{{ mi_marca }}</p>

<h2>Compra las zapatiillas de las mejores marcas</h2>
<ul>
  <!-- acceder al indice -->
  <li *ngFor="let marca of marcas; let indice = index">
    {{ indice + 1 + ". " + marca }}
    <!-- Añadir boton para eliminar una marca de zapatillas -->
    <button (click)="borrarMarca(indice)">Borrar marca</button>
  </li>
</ul>
<h2>Las deportivas que tenemos disponibles</h2>
<ul>
  <!-- recorrer el array de zapatillas -->
  <li *ngFor="let deportiva of zapatillas">
    <span
      [ngStyle]="{
        'text-decoration': !deportiva.stock ? 'line-through' : 'none'
      }"
    >
      <!--
     - se podría hacer un array y añadir las clases o un objto json
      [ngClass] = "['fondoRojo', 'subrayado']"
     - Sería lo mismo que poner class
      class = "fondoRojo subrayado"
    -->
      <strong
        [class.altoPrecio]="deportiva.precio > 80"
        [ngClass]="{
          fondoRojo: deportiva.precio >= 100,
          subrayado: deportiva.marca == 'Bamba' 
        }"
      >
        {{ deportiva.nombre }} - {{ deportiva.precio }} €
      </strong>
    </span>
    <!-- ngClass en atributos  -->
    <span
      *ngIf="deportiva.precio <= 80"
      [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="deportiva.precio <= 80 ? 'white' : 'black'"
    >
      !EN OFERTA¡</span
    >
  </li>
  <h2>Fuera de Stock</h2>

  <ul>
    <li *ngFor="let deportiva of zapatillas">
      <div *ngIf="!deportiva.stock">
        {{ deportiva.nombre }}
      </div>
    </li>
  </ul>
</ul>

<!-- ngSwitch -->
<p>El color de la mayoría de nuestras zapatiillas es:</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color predominante es el
    <span [ngStyle]="{ background: color }"> amarillo</span>
  </li>
  <li *ngSwitchCase="'red'">
    El color predominante es el
    <span [ngStyle]="{ background: color }"> rojo</span>
  </li>
  <li *ngSwitchCase="'blue'">
    El color predominante es el
    <span [ngStyle]="{ background: color }"> azul</span>
  </li>
  <li *ngSwitchCase="'orange'">
    El color predominante es el
    <span [ngStyle]="{ background: color }"> naranja</span>
  </li>
</ul>
