ul {
    border: 1px red solid;
    padding: 1em;
}
li {
    width: 50%;
    list-style: none;
    text-align: left;
    padding: .2em;
    border: 1px red solid;
    margin: .3em;
    padding: .2em;
}