* {
  box-sizing: border-box;
}
* {
  border: 0;
  margin: 0;
}

form {
  width: 40%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(187, 215, 238);
  display: grid;
  grid-template-columns: 200px 1fr;
}

form label {
  width: 30%;
  font-weight: bold;
  display: inline-block;
   grid-column: 1 / 2;
   text-align: left;
}

form input[type="text"],
[type="email"] {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #a8defd;
  margin: 8px 0;
  display: inline-block;
}
 input[type="submit"], 
[type="reset"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #bbacff;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

input,
button {
  grid-column: 2 / 3;
}
span {
  font-size: .8em;
  text-align: left;
  color: red;
}