button {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

button:hover {
    color: #1883ba;
    background-color: #ffffff;
}
videojuego {
    font-family: 'Butcherman', cursive;
}
