/*Hay problemas con las variables css*/
:root {
  --font-Butcherman: "swap", cursive;
  --color: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: var(--color);
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

button:hover {
  color: #1883ba;
  background-color: #ffffff;
}
videojuego {
  font-family: var(--font-Butcherman);
}

/* Menu */

li a {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 19px;
}

nav li {
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  position: relative;
}

nav li:hover {
  background-color: #fff;
  color: #000;
}

nav li > ul {
  display: none;
}

nav li:hover > ul {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}
.active {
  height: 30px;
  border-bottom: solid 3px white;
}
