<h2>Crear nuevo usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <label for="name">Nombre</label>
  <input
    type="text"
    name="name"
    #name="ngModel"
    [(ngModel)]="new_user.name"
    required
    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
  />
  <span *ngIf="name.touched && !name.valid">
    El nombre es obligatorio
  </span>
  <label for="job">Job</label>
  <input
    type="text"
    name="job"
    #job="ngModel"
    [(ngModel)]="new_user.job"
    required
    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
  />
  <!-- Cuando el campo haya sido tocado y este vacio, muestra el span  -->
  <span *ngIf="job.touched && !job.valid">El trabajo es obligatorio. </span>
  
  <input
    type="submit"
    value="Guardar usuario"
    [disabled]="!newUser.form.valid"
  />
</form>
<div *ngIf = "usuario_guardado">
  <h2>El usuario se ha guardado correctamente.</h2>
  <h3>{{usuario_guardado.name}}</h3> 
  <h3>{{usuario_guardado.job}}</h3> 

</div>


<hr />

<!-- para utilizar la pipe o filtro hay que usar la pipe | -->
{{ fecha | date: "fullDate" }}
<br />
{{ fechaActual | date: "fullDate" | uppercase }} <br />
{{ "HOLA MUNDO CON PIPES" | lowercase }} <br />
<br />
{{ fecha | date: "dd/MM/yyyy" }} <br />
{{ 424 | calculadora: 2 }} <br />

<hr />
<!-- cargamos el usuario que queramos desde la api -->
<input type="text" [(ngModel)]="userId" (keyUp.enter)="cargaUsuario()" />
<br />
<br />
<!-- cuando user sea false -->
<div *ngIf="!user">...Cargando</div>
<div *ngIf="user">
  <img src="{{ user.avatar }}" alt="" width="200" />
  <h2>{{ user.first_name + " " + user.last_name }}</h2>
</div>
