@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Ostrich";
  src: url("../fonts/ostrich-regular.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.otf");
}
@font-face {
  font-family: "Mansalva-Regular";
  src: url("../fonts/Mansalva-Regular.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}
:root {
  --z-back: -10;
  /*si se quiere mandar al fondo*/
  --z-normal: 1;
  /*si se ve uno raro */
  --z-tooltip: 10;
  /*mensajes tooltip*/
  --z-fixed: 100;
  /* elemento fijo en el DOM*/
  --z-modal: 1000;
  /*capa que oculta todo*/

  /*Tamaños*/
  --header-height: 90px;

  /* Colores*/
  --red-prin: #ec4b4b;

  /* Fuentes*/
  --font-name: "Mansalva-Regular";
  --font-cabezera: "OpenSans-Bold";
}
body {
  font-family: PlayfairDisplay;
  font-size: 1.1em;
  background: url("../img/pattern.jpg");
  background-attachment: fixed;
}

/*Barra de navegación*/
header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--red-prin);
  position: fixed;
  display: block;
  text-transform: uppercase;
}

header ul {
  display: block;
  width: 60%;
  height: inherit;
  margin: 0 auto;
  margin-top: -3px;
}
header ul li {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  line-height: 92px;
}

header a {
  display: block;
  padding: 0 20px;
  height: inherit;
  text-decoration: none;
  color: aliceblue;
  transition: all 300ms;
}
header a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

header #logo a:hover {
  background-color: transparent;
  color: black;
  transform: scale(1.2, 1.2);
}
header a:hover,
.actived {
  background: rgba(0, 0, 0, 0.8);
}
/*Logotipo*/
#logo {
  font-family: var(--font-name);
  font-size: 1.4em;
}
#logo a {
  transition: color 500ms, transform 500ms;
}
/* limpiar lo flotado entre los elementos */
.clearfix {
  float: none;
  clear: both;
}
/* contenedor principal */
#content {
  min-height: 100vh;
  height: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 40px black;
  background: rgba(255, 255, 255, 0.9);
  padding-top: calc(var(--header-height) + 20px);
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

/*Sobre mi*/
#title {
  width: 70%;
  margin: 20px auto 70px auto;
  text-align: center;
}

#title h1 {
  font-family: var(--font-name);
  font-size: 4em;
  color: var(--red-prin);
  border-bottom: 1px solid var(--red-prin);
}
#title h2 {
  font-size: 1.5em;
  color: orangered;
  margin: 0.3em 0;
}

article.about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0.3em 0;
  font-size: 1.3em;
  padding: 0 2em;
}

article.about p {
  margin: 1em 0;
  text-align: justify;
}

.about h2 {
  border-bottom: 1px solid var(--red-prin);
  color: var(--red-prin);
}

/*Footer*/
.footer {
  height: 100px;
  text-align: center;
  padding-top: 2em;
  bottom: 0;
  background: var(--red-prin);
  width: 100%;
}
/*Sección con formulario*/
.container {
  padding: 50px;
}
.container h2 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: var(--red-prin);
}
form {
  width: 50%;
  font-family: var(--font-cabezera);
  color: var(--red-prin);
}
form label {
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
  width: 80%;
  padding: 0.3em;
}
.errorForm {
  display: block;
  width: 100%;
  font-size: .6em;
  opacity: .7;
}
/* Botón formulario*/
form .button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

form .button[disabled]{
  opacity: .2;
}
.button.type1 {
  color:var(--red-prin);
  float: right;
  margin-right: 20%;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color:var(--red-prin);
  border-right-color: var(--red-prin);
;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--red-prin);
  border-left-color: var(--red-prin);
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

.message {
  padding: .3em;
  width: 50%;
  margin-bottom: .3em;
  color: whitesmoke;
}
.succes {
  background: var(--red-prin);
}
.succes a{
  text-decoration: none;
  color: black;
}
.failed{
  background: rgba(0, 0, 0,.6);
  color: white;
}

/* Página de proyectos*/
.project {
  display: block;
  float: left;
  width: 28%;
  text-align: center;
  margin: 10px 20px;
}
.project img {
  width: 100%;
}
.project .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.project a {
  text-decoration: none;
  color: black;
}

